<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">

    <style>
        .row,
        .card {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .badge {
            margin: 5px;
        }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            /* border-bottom: 1px dotted black; */
            /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Welcome!</strong> The filter switches have four combinations: On-On(Not filtering but showing),
            On-Off(Filter by correct examples), Off-On(Filter by wrong examples) and Off-Off(Not showing).
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row justify-content-center">
            <figure class="figure text-center">
                <img src="https://live.staticflickr.com/5297/5492954555_d36d1ca4f8_z_d.jpg"
                    class="figure-img img-fluid rounded" alt="sesame street characters">
                <figcaption class="figure-caption text-center">Photo credit: www.YoVenice.com/Flickr</figcaption>
            </figure>
        </div>
        <form method="POST">
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Task</legend>
                    <div class="col-sm-10">
                        % for t in tasks:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="task" id="{{t}}" value="{{t}}"
                                {{"checked" if task == t else ""}} {{"disabled" if t== "hellaswag" else ""}}>
                            <label class="form-check-label" for="{{t}}" data-toggle="tooltip" data-placement="top"
                                title="{{"Dataset is too large to be indexed" if t == "hellaswag" else ""}}">
                                <a href="https://leaderboard.allenai.org/">{{t}}</a>
                            </label>
                        </div>
                        % end
                    </div>
                </div>

            </fieldset>
            <fieldset class="form-group" id="model-filters">
                % for model in models:
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0"><a
                            href="https://arxiv.org/search/?query={{model}}&searchtype=all">{{model.upper()}}</a>
                    </legend>
                    <div class="col-sm-10">

                        <div class="form-check form-check-inline">
                            <input id="{{model}}-correct" class="form-check-input" type="checkbox" data-toggle="toggle"
                                name="{{model}}-correct" value="correct"
                                {{"checked" if filters.get(model) == 'correct' or model in filters else ""}}
                                data-style="mr-1" data-size="xs">
                            <label for="{{model}}-correct" class="form-check-label">Correct</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="{{model}}-wrong" class="form-check-input" type="checkbox" data-toggle="toggle"
                                name="{{model}}-wrong" value="wrong"
                                {{"checked" if filters.get(model) == 'wrong' or model in filters else ""}}
                                data-style="mr-1" data-size="xs">
                            <label for="{{model}}-wrong" class="form-check-label">Wrong</label>
                        </div>
                    </div>
                </div>
                % end
            </fieldset>
            <fieldset class="form-group">

                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Embedder</legend>
                    <div class="col-sm-10">
                        % for e in embedders:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="embedder" id="{{e}}" value="{{e}}"
                                {{"checked" if embedder == e else ""}}>
                            <label class="form-check-label" for="{{e}}" data-toggle="tooltip" data-placement="top"
                                title="{{"XLNet is not supported by sentence transformers yet" if e == "st" else ""}}">
                                % if e == "st":
                                <a href="https://github.com/UKPLab/sentence-transformers">{{e}}</a>
                                % else:
                                {{e}}
                                % end
                            </label>
                        </div>
                        % end
                    </div>
                </div>

            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="row">
            <div id="heatmap" style="height: 500px; width: 100%;"></div>
        </div>

        <div class="row" id="examples" style="height: 800px; overflow-x: scroll;">
            % for example in result:
            <div class="col-lg-6">
                <div class="card" id="example-{{example}}">
                    <div class="card-body">
                        <h5 class="card-title">No.{{example}}: {{result[example]['ctx']}}</h5>
                        % for choice in result[example]['choices']:
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="card-text"> - {{choice['text']}}</p>
                            </div>
                            <div class="col-lg-6">
                                % for model in choice['models']:
                                <button type="button"
                                    class="btn btn-outline-{{'success' if model['margin'] == '-' else 'danger'}}">{{model['model']}}<span
                                        class="badge badge-light">{{'✔️' if model['margin'] == '-' else '{:.2f}'.format(model['margin'])}}</span></button>
                                % end
                            </div>
                        </div>
                        <br>
                        % end
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Closest Training Pairs</h5>
                        % for choice in result[example]['choices']:
                        % if choice['models']:
                        % for model in choice['models']:

                        % for e in model['closest'][:1]:
                        <div class="card text-white bg-{{'success' if e['choice']['correct'] else 'danger'}}">
                            <div class="card-header">{{model['model']}}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{e['ctx']}}</h5>
                                <p class="card-text"> - {{e['choice']['text']}}</p>
                            </div>
                        </div>
                        % end
                        % end
                        % end
                        % end
                    </div>
                </div>
            </div>
            % end
        </div>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $('.alert').alert()

    var heatmap_data = {{!margins}};

    var myChart = echarts.init(document.getElementById('heatmap'));
    var xData = [...Array({{!total}}).keys()];
    var yData = {{!selected_models}};

    if (heatmap_data.length > 0) {
        option = {
            title: {
                show: true,
                left: 'center',
                text: "Error margin heatmap visualization on dev examples"
            },
            tooltip: {
                position: 'top'
            },
            animation: false,
            grid: {
                height: '50%',
                top: '10%'
            },
            xAxis: {
                type: 'category',
                data: xData,
                splitArea: {
                    show: false
                }
            },
            yAxis: {
                type: 'category',
                data: yData,
                splitArea: {
                    show: false
                }
            },
            visualMap: {
                min: 0,
                max: 1,
                calculable: true,
                orient: 'horizontal',
                left: 'center',
                bottom: '15%'
            },
            dataZoom: [
                {
                    type: 'slider',
                    xAxisIndex: 0,
                    start: 10,
                    end: 60
                },
                {
                    type: 'inside',
                    xAxisIndex: 0,
                    start: 10,
                    end: 60
                },
                // {
                //     type: 'slider',
                //     yAxisIndex: 0,
                //     start: 30,
                //     end: 80
                // },
                // {
                //     type: 'inside',
                //     yAxisIndex: 0,
                //     start: 30,
                //     end: 80
                // }
            ],
            series: [{
                name: 'Dev',
                type: 'heatmap',
                data: heatmap_data,
                label: {
                    show: false
                },
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };
        myChart.setOption(option);
        myChart.on('click', params => {

            var topPos = $('#example-' + params.name).offset().top;

            $('#examples').scrollTop(topPos - 100);

        });
    }
</script>

</html>
